<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>기말</title>
    <!-- loads the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/animate.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/creative.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome/css/font-awesome.min.css'%}" />

    <script type="text/javascript" src="{% static 'blog/js/style.js'%}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'blog/js/stupidtable.js'%}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{% static 'blog/img/portfolio/logo.png'%}" class="img-responsive logo-size" alt="">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">문화교류</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">언어교환</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">한국생활</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="header-title">유학생의 모든 것</h1>
                <hr>
                <h4>전세계 모든 친구들을 만날 수 있는 문화교류 플랫폼</h4>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">전 세계 친구들과 함께하는</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 text-center">
                    <a href="#" class="portfolio-box">
                        <img src="../static/blog/img/portfolio/image1.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    음식
                                </div>
                                <div class="project-name">
                                  <h2>맛집 탐방</h2>
                                </div>
                                <div class="project-category">
                                    6 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <a href="#" class="portfolio-box">
                        <img src="../static/blog/img/portfolio/image4.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    한국문화
                                </div>
                                <div class="project-name">
                                    <h2>붓 글씨 체험</h2>
                                </div>
                                <div class="project-category">
                                    21 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <a href="#" class="portfolio-box">
                        <img src="../static/blog/img/portfolio/image2.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    여행
                                </div>
                                <div class="project-name">
                                    <h2>한강 나들이</h2>
                                </div>
                                <div class="project-category">
                                    11 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-8 col-md-6 text-center">
                    <a href="#" class="portfolio-box" style="width: 100%;">
                        <img src="../static/blog/img/portfolio/image5.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    언어교환
                                </div>
                                <div class="project-name">
                                    <h2>영어 한국어</h2>
                                </div>
                                <div class="project-category">
                                    11 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <a href="#" class="portfolio-box">
                        <img src="../static/blog/img/portfolio/image6.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    파티
                                </div>
                                <div class="project-name">
                                    <h2>SNU 웰컴파티</h2>
                                </div>
                                <div class="project-category">
                                    8 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <a href="#" class="portfolio-box" style="padding-top: 0px">
                        <img src="../static/blog/img/portfolio/image7.jpg" class="img-responsive image-opac" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    운동
                                </div>
                                <div class="project-name">
                                    <h2>희진's 근력운동</h2>
                                </div>
                                <div class="project-category">
                                    22 개 상품
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
          </section>
          <section id="contact" class="bg-dark">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 text-center">
                          <h2 class="section-heading">Let's Get In Touch!</h2>
                          <hr class="primary">
                          <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                      </div>
                      <div class="col-lg-4 col-lg-offset-2 text-center">
                          <i class="fa fa-phone fa-3x wow bounceIn"></i>
                          <p>123-456-6789</p>
                      </div>
                      <div class="col-lg-4 text-center">
                          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                          <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                      </div>
                  </div>
              </div>
          </section>

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'blog/js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'blog/js/jquery.easing.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery.fittext.js'%}"></script>
    <script type="text/javascript" src="{% static 'blog/js/wow.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="{% static 'blog/js/creative.js'%}"></script>


</body>
</html>
